image spl.img {
	size = ${BOOT_SPL_SIZE}

	# FIXME: May not be necessary, but keeping it for now for binary-identical output
	exec-post = "dd if=/dev/zero of=${BINARIES_DIR}/spl.img seek=444 count=68 bs=1 conv=notrunc"

	hdimage {
		partition-table-type = "none"
		fill = "yes"
	}

	# u-boot.bin.sd.bin is produced by the amlogic-boot-fip-j310 package
	# (build-fip.sh jethub-j310).  It carries the AMLBOOT header, so it has to
	# start at offset 0 of the medium; the MBR bytes at 440..511 are punched
	# back out by partition-spl-spl.cfg.
	partition uboot {
		offset = 0
		image = "u-boot.bin.sd.bin"
	}
}
